@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.well {
  h2 {
    margin-top: 0;
  }
}

.glyphicon-update {
  @extend .glyphicon-edit;
}

.glyphicon-create {
  @extend .glyphicon-plus;
}

.glyphicon-destroy {
  @extend .glyphicon-remove;
}

.glyphicon-like {
  @extend .glyphicon-thumbs-up;
}

.prior_value {
  text-decoration: line-through;
  color: red;
}

.present_value {
  font-style: italic;
  color: blue;
}

.values_diff {
  border-top: 1px solid black;
}

.diffins {
  color: green;
}

.diffmod {
  color: blue;
}

.diffdel {
  color: red;
}
